<!DOCTYPE html>
<html>
    <button>  . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  </button>
    <head>
        <title>Flask Basic 2</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylefile.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Neonderthaw&effect=fire-animation">
        <body>
        <h1 class="font-effect-fire-animation"> Haley's Flask Page </h1>
        <h3> Hi I'm Haley </h3>
        <p class="a">I am currently a student in the AHI Program at Stony Brook University.
        </p>
        </br></br></br>
        <a href="https://play-lh.googleusercontent.com/XVHP0sBKrRJYZq_dB1RalwSmx5TcYYRRfYMFO18jgNAnxHAIA1osxM55XHYTb3LpkV8"> Click This To See a Cute Cat </a>
    </head>
        </br></br></br></br></br></br>
        <button class="a"> . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  </button>
    </body>

</html>